/* DESKTOP */
@media (min-width: 1165px) {
  :root {
    --primary-color: #fdbe15;
    /* Color amarillo caracterÃ­stico */
    --secondary-color: #004481;
    /* Azul oscuro para contrastes */
    --background-color: #f4f4f4;
    /* Fondo claro */
    --text-color: #333;
    /* Texto principal */
    --button-hover: #e0a800;
    /* Color de hover para botones */
    --font-primary: "Poppins", sans-serif;
    /* Fuente principal */
  }

  /* .contenedor-prueba {
    width: 500px !important;
  } */

  body {
    font-family: var(--font-primary);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-primary);
    font-weight: 600;
    /* Negrita */
  }

  p,
  label,
  input,
  button,
  span {
    font-family: var(--font-primary);
  }

  #widget-net {
    font-family: var(--font-primary) !important;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1200px;
    /* Ancho mÃ¡ximo del widget */
    border-radius: 10px;
    color: var(--text-color);
    margin: 0 auto;
    /* Centrar el widget horizontalmente */
    padding: 20px;
    /* Espacio interno */
  }

  .tab,
  .flatpickr-calendar,
  .widget,
  .autocomplete-item {
    font-family: var(--font-primary) !important;
  }

  .tabs {
    display: flex;
    align-items: center;
    justify-content: left;
    height: 100%;
    gap: 20px;
    padding-bottom: 0px;
    position: relative;
    border-radius: 10px;
  }

  .tab {
    /* Estilos para un tab */
    background-color: var(--primary-color);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.2s ease;
    cursor: pointer;
  }

  .tab:hover {
    background-color: #fff;
    transform: scale(1.05);
    color: #000;
    /* Cambia el color del texto al pasar el mouse */
  }

  .tab:active {
    transform: scale(1);
  }

  .tab-text {
    font-size: 14px;
    text-align: center;
    /* Centra el texto dentro del tab */
  }

  /* Fechas */
  /* Cambiar el color de fondo del calendario */
  .flatpickr-calendar {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
  }

  /* Cambiar el color de los dÃ­as seleccionados */
  .flatpickr-day.selected {
    background-color: var(--primary-color) !important;
    color: #fff;
  }

  /* Cambiar el color de los dÃ­as al pasar el mouse */
  .flatpickr-day:hover {
    background-color: var(--primary-color) !important;
    color: #fff;
  }

  /* Ajustar el tamaÃ±o del calendario en dispositivos mÃ³viles */
  .flatpickr-calendar {
    width: 100%;
    font-size: 14px;
  }

  .flatpickr-innerContainer {
    width: 100%;
  }

  body
    > div.flatpickr-calendar.rangeMode.animate.multiMonth.open.arrowTop.arrowLeft
    > div.flatpickr-innerContainer
    > div
    > div.flatpickr-days
    > div:nth-child(1)
    > span.flatpickr-day.today:hover {
    background-color: var(--primary-color) !important;
    color: #fff;
  }

  .flatpickr-day.selected,
  .flatpickr-day.startRange,
  .flatpickr-day.endRange,
  .flatpickr-day.selected.inRange,
  .flatpickr-day.startRange.inRange,
  .flatpickr-day.endRange.inRange,
  .flatpickr-day.selected:focus,
  .flatpickr-day.startRange:focus,
  .flatpickr-day.endRange:focus,
  .flatpickr-day.selected:hover,
  .flatpickr-day.startRange:hover,
  .flatpickr-day.endRange:hover,
  .flatpickr-day.selected.prevMonthDay,
  .flatpickr-day.startRange.prevMonthDay,
  .flatpickr-day.endRange.prevMonthDay,
  .flatpickr-day.selected.nextMonthDay,
  .flatpickr-day.startRange.nextMonthDay,
  .flatpickr-day.endRange.nextMonthDay {
    border-color: var(--primary-color) !important;
    background-color: var(--primary-color) !important;
  }

  .flatpickr-day.selected.startRange + .endRange:not(:nth-child(7n + 1)),
  .flatpickr-day.startRange.startRange + .endRange:not(:nth-child(7n + 1)),
  .flatpickr-day.endRange.startRange + .endRange:not(:nth-child(7n + 1)) {
    box-shadow: -10px 0 0 var(--primary-color) !important;
  }

  #widget-package {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-family: "Arial", sans-serif;
    color: var(--text-color);
  }

  /* Iconos */
  .fas {
    color: var(--primary-color) !important;
  }

  #lupa-icon {
    color: #fff !important;
  }

  h4 {
    color: var(--text-color);
    font-weight: normal;
    font-size: 18px;
  }

  /* Deshabilitar las flechas de incremento y decremento en navegadores basados en WebKit (Chrome, Safari, Edge) */
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Deshabilitar las flechas en Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }

  .widget-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    row-gap: 15px;
  }

  /* Contenedor principal del widget */
  .widget {
    border-radius: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    font-family: "Arial", sans-serif;
    color: var(--text-color);
    position: relative;
  }

  .package-container {
    display: flex;
    flex-wrap: wrap;
  }

  .origen-destino {
    order: 1;
    /* width: 400px; */
  }
  .fechas {
    order: 2;
  }
  .habitaciones-pasajeros {
    order: 3;
  }
  .boton-buscar {
    order: 4;
  }
  #hab-popup {
    order: 5;
  }
  .checkbox-group {
    order: 6;
    /* flex: 1 1 100%; */
  }
  #mostrar-descuento {
    order: 7;
  }
  .descuento {
    order: 8;
    flex: 1 1 100%;
  }
  .options-paq {
    order: 8;
  }
  /* .descuento-container {
    margin-top: 3rem;
  } */

  #mostrar-descuento {
    order: 7; /* justo antes del .descuento */
    align-self: flex-start; /* se alinea como inline, sin ocupar toda la fila */
    margin-top: 0.5rem;
  }

  /* AnimaciÃ³n de entrada */
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  /* Encabezado */
  .widget .header h3 {
    font-size: 20px;
    font-weight: bold;
    color: var(--text-color);
    margin-bottom: 20px;
    text-align: center;
    background-color: var(--primary-color);
    padding: 15px;
    border-radius: 5px;
  }

  /* Etiquetas */
  .widget label {
    display: block;
    font-size: 15px;
    color: var(--text-color);
    /* top: 10px;
    left: 10px;
    position: relative; */
  }

  /* Campos de entrada */
  .widget input[type="text"],
  .widget input[type="number"],
  .widget input[type="checkbox"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    transition: border-color 0.3s ease;
  }

  .widget input[type="text"]:focus,
  .widget input[type="number"]:focus {
    border: none;
    outline: none;
  }

  /* Checkboxes */
  .widget input[type="checkbox"] {
    display: flex;
    align-items: center;
    width: auto;
    margin-right: 10px;
    cursor: pointer;
    transition: transform 0.2s ease;
    margin-left: 0 !important;
  }

  /* BotÃ³n de bÃºsqueda */
  .widget button {
    width: 100px;
    padding: 12px;
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }

  .widget button:hover {
    background-color: var(--button-hover);
    transform: scale(1.05);
  }

  .widget button:active {
    transform: scale(1);
  }

  /* Label-Input */
  .label-input {
    position: absolute;
    top: 1px;
    /* Ajustado para estar mÃ¡s abajo del input */
    left: 10px;
    font-size: 10px;
    color: var(--text-color);
    /* Usando el color de texto definido */
    pointer-events: none;
    transition: all 0.3s ease;
  }

  /* Origen-destino */
  .origen-destino,
  .habitaciones-pasajeros {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    border: 1px solid #ddd;
    position: relative;
    padding: 10px;
  }

  .origen-destino::after {
    content: "";
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 50%;
    width: 1px;
    background-color: #ddd;
    transform: translateX(-50%);
  }

  /* .habitaciones-pasajeros::after {
      content: "";
      position: absolute;
      top: 0%; 
      bottom: 0%; 
      left: 50%; 
      width: 1px; 
      background-color: #ddd;
      transform: translateX(-50%);
  } */

  /* Contenedor de habitaciones (Popup) */
  #hab-container {
    padding: 10px;
    height: 180px;
    overflow-y: auto;
    margin-bottom: 15px;
    scrollbar-width: thin;
    scrollbar-color: var(--primary-color) var(--background-color);
  }

  /* #hab-container input[type="number"]:focus {
    border-color: var(--primary-color);
    outline: none;
    box-shadow: 0 0 5px rgba(253, 190, 21, 0.3);
  } */

  .habitacion label {
    display: block;
    font-size: 15px;
    color: var(--text-color);
    margin-bottom: 10px;
  }

  .habitacion input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 15px;
    transition: border-color 0.3s ease;
  }

  .habitacion input[type="number"]:focus {
    border-color: var(--primary-color);
    outline: none;
    box-shadow: 0 0 5px rgba(253, 190, 21, 0.3);
  }

  .habitacion-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
  }

  .habitacion-header .icon {
    align-items: center;
    right: 10px;
    position: relative;
    color: var(--secondary-color);
    pointer-events: none;
  }

  /* Adultos */
  .adultos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-radius: 5px;
  }

  .label-adultos {
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: 15px;
    color: var(--text-color);
    position: relative;
    padding: 10px;
  }

  .label-adultos label {
    left: -5px;
  }

  .input-adultos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    position: relative;
  }

  .input-adultos #num-adultos {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 15px;
    transition: border-color 0.3s ease;
  }

  .input-adultos .icon {
    position: absolute;
    right: 10px;
    /* Alinea el Ã­cono a la derecha */
    color: var(--secondary-color);
    /* Usa el color azul oscuro */
    pointer-events: none;
    /* Evita que el Ã­cono interfiera con el clic en el input */
    top: 15px;
  }

  /* NiÃ±os */

  .ninos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-radius: 5px;
    position: relative;
  }

  .label-ninos {
    display: flex;
    align-items: center;
    font-size: 15px;
    color: var(--text-color);
    position: relative;
    padding: 10px;
  }

  .label-ninos label {
    left: -5px;
  }

  .input-ninos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    position: relative;
  }

  .input-ninos #num-ninos {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 15px;
    transition: border-color 0.3s ease;
  }

  .input-ninos .icon {
    position: absolute;
    right: 10px;
    /* Alinea el Ã­cono a la derecha */
    color: var(--secondary-color);
    /* Usa el color azul oscuro */
    pointer-events: none;
    /* Evita que el Ã­cono interfiera con el clic en el input */
    top: 15px;
  }

  /* Habitaciones Widget */
  .habitaciones-pasajeros {
    display: flex;
    align-items: center;
    position: relative;
    width: 140px;
    /* Espacio para el Ã­cono */
  }

  .habitaciones {
    display: none;
    /* display: flex; */
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
  }

  .habitaciones .input {
    display: flex;
    align-items: center;
    padding: 10px;
    transition: border-color 0.3s ease;
  }

  .habitaciones .icon {
    display: flex;
    align-items: center;
    right: 10px;
    position: relative;
    color: var(--secondary-color);
    pointer-events: none;
  }

  /* Pasajeros */
  .pasajeros {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
  }

  .pasajeros .input {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px;
    transition: border-color 0.3s ease;
  }

  .pasajeros .icon {
    display: flex;
    align-items: center;
    right: 10px;
    position: relative;
    color: var(--secondary-color);
    pointer-events: none;
  }

  /* Scroll personalizado para navegadores Webkit */
  #hab-container::-webkit-scrollbar {
    width: 8px;
  }

  #hab-container::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 10px;
  }

  #hab-container::-webkit-scrollbar-track {
    background-color: var(--background-color);
  }

  /* Habitaciones individuales */
  #hab-container > div {
    background-color: #ffffff;
    padding: 10px;
    padding-right: 20px;
    margin-bottom: 28px;

    /* border: 1px solid #ededed; */
    /* border-radius: 16px; */
  }

  #hab-container > div:hover {
    /* transform: translateY(-5px); */
    transform: scale(1.02);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  /* Edades niÃ±os */

  #edades-ninos {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
  }

  /* Estilo base para el select */
  .edad-nino,
  .num-ninos-select,
  .num-adultos-select,
  .popup-num-hab-select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    background-color: rgba(255, 255, 255, 0.8);
    color: var(--text-color);
    /* Color del texto */
    transition: all 0.3s ease;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }

  /* Cambiar el borde y el fondo al enfocar */
  .edad-nino:focus,
  .num-ninos-select:focus,
  .num-adultos-select:focus,
  .popup-num-hab-select:focus {
    border-color: var(--primary-color);
    /* Amarillo */
    background-color: rgba(253, 190, 21, 0.2);
    /* Fondo amarillo semitransparente */
    outline: none;
    /* Elimina el borde azul predeterminado */
    box-shadow: 0 0 5px rgba(253, 190, 21, 0.5);
    /* Sombra amarilla */
  }

  /* Cambiar el color del texto al seleccionar */
  .edad-nino option,
  .num-ninos-select option,
  .num-adultos-select option,
  .popup-num-hab-select option {
    background-color: #fff;
    /* Fondo blanco para las opciones */
    color: var(--text-color);
    /* Color del texto */
  }

  .input-ninos .icon,
  .input-adultos .icon {
    position: absolute;
    right: 10px;
    /* Alinea el Ã­cono a la derecha */
    font-size: 16px;
    color: var(--secondary-color);
    /* Usa el color azul oscuro */
    pointer-events: none;
    /* Evita que el Ã­cono interfiera con el clic en el select */
  }

  /* Contenido del popup */
  .popup-content {
    /* background-color: var(--background-color); */
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    /* Ocupa el 100% del ancho disponible */
    position: relative;
    animation: fadeIn 0.3s ease-in-out;
  }

  /* Popup header */
  .popup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding-bottom: 10px; */
    padding: 20px;
    border-top: 1px solid #e5e5e5;
    padding-bottom: 10px;
  }

  .popup-header label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20px;
    top: 0px;
  }

  .popup-header input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    width: 100%;
    font-weight: bold;
    color: var(--text-color);
  }

  /* AnimaciÃ³n de entrada */
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: scale(0.9);
    }

    to {
      opacity: 1;
      transform: scale(1);
    }
  }

  /*  */

  #hab-popup {
    display: none;
    /* Oculto por defecto */
    background-color: var(--background-color);
    position: absolute;
    /* Posicionarlo relativo al contenedor */
    top: 120px;
    /* Justo debajo del elemento invocador */
    left: 60%;
    width: 350px;
    /* Ocupa el ancho del contenedor */
    height: 400px;
    /* Altura del popup */
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    /* Asegura que estÃ© por encima de otros elementos */
  }

  #hab-popup.active {
    display: block;
    /* Mostrar el modal cuando estÃ© activo */
  }

  .button-accept {
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    /* width: 50%; */
    margin-top: 20px;
    position: absolute;
    bottom: 20px;
  }

  /* Inputs */

  /* Input cuando hay error */
  .input-error {
    background-color: #ffe6e6;
    /* Fondo rojo claro */
    border: 1px solid red;
    /* Borde rojo */
  }

  /* Contenedor de cada grupo de inputs */
  .input-group {
    position: relative;
    align-items: center;
    display: flex;
    height: 50px;
  }

  .boton-buscar .input-group {
    width: 100%;
  }

  /* Estilo del input */
  .input-group input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    transition: border-color 0.3s ease;
    white-space: nowrap;
    /* Prevent text wrapping */
    overflow: hidden;
    /* Hide overflowing text */
    text-overflow: ellipsis;
    /* Add ellipsis for overflowing text */
  }

  .pasajeros .input-group input {
    border-left: none;
    border-radius: 0 5px 5px 0;
  }
  .habitaciones .input-group input {
    border-right: none;
    border-radius: 5px 0 0 5px;
  }

  /* .fechas {
    min-width: 290px;
    margin-right: 10px;
  } */

  /* Specific adjustment for the date input */
  #fecha-rango,
  #origen,
  #destino {
    padding-right: 40px;
    /* Ensure extra space for the calendar icon */
  }

  .input-group .icon {
    position: absolute;
    right: 15px;
    /* Position the icon to the right */
    color: var(--secondary-color);
    /* Use the secondary color */
    pointer-events: none;
    /* Prevent the icon from interfering with input clicks */
  }

  /* Inputs en foco */
  /* .input-group input:focus {
    border-color: none;
  } */

  /* Radios */

  /* Padding mayor para el de vuelos */

  .vuelos-container {
    padding-bottom: 100px !important;
  }

  .radio-group {
    display: flex;
    justify-content: flex-start;
    /* Opcional: Alinea los elementos al inicio */
    align-items: flex-start;
    /* Opcional: Alinea los elementos al inicio */
    margin-bottom: 20px;
    position: absolute;
    top: 260px;
    gap: 10px;
  }

  .radio {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
  }

  .radio label {
    display: flex;
    align-items: center;
    cursor: pointer;
    top: 1px;
    position: relative;
    text-align: left;
    left: 0px;
  }

  #radio-soloida {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid var(--primary-color);
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;

    &:checked {
      background-color: var(--primary-color);
      box-shadow: 0 0 5px rgba(253, 190, 21, 0.5);
    }

    &:hover {
      box-shadow: 0 0 8px rgba(253, 190, 21, 0.7);
    }
  }

  #radio-idayregreso {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid var(--primary-color);
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    margin-left: 0px;

    &:checked {
      background-color: var(--primary-color);
      box-shadow: 0 0 5px rgba(253, 190, 21, 0.5);
    }

    &:hover {
      box-shadow: 0 0 8px rgba(253, 190, 21, 0.7);
    }
  }

  /* Fechas */
  .fechas {
    border-radius: 10px;
    border: 1px solid #ddd;
    position: relative;
    padding: 10px;
  }

  /* Checkboxs */
  .checkbox-group {
    display: flex;
    justify-content: flex-start;
    /* Opcional: Alinea los elementos al inicio */
    align-items: flex-start;
    /* Opcional: Alinea los elementos al inicio */
    margin-bottom: 20px;
    /* position: absolute; */
    top: 120px;
    gap: 10px;
  }

  .checkbox {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    margin: 10px 0 !important;
  }

  .checkbox label {
    display: flex;
    align-items: center;
    cursor: pointer;
    top: -5px;
    position: relative;
    text-align: left;
    font-size: 14px;
    left: -10px;
    top: 5px;
  }

  input[type="checkbox"] {
    position: relative !important;
    top: 5px;
    width: 20px !important;
    height: 20px !important;
    appearance: none;
    border: 1px solid #ddd;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
  }

  input[type="checkbox"]:checked {
    background-color: var(--primary-color);
  }

  input[type="checkbox"]::before {
    content: "" !important;
    position: absolute;
    top: 2px;
    left: 1px;
    width: 5px;
    height: 10px;
    border: 4px solid transparent;
    border-left: none;
    border-top: none;
    transform: rotate(135deg) scale(1,-1);
  }

  input[type="checkbox"]:checked:before {
    border-color: #fff;
    margin: 0 !important;
    color: #fff;
  }

  @keyframes checkmark {
    0% {
      transform: rotate(45deg) scale(0);
    }

    100% {
      transform: rotate(45deg) scale(1);
    }
  }

  /* BotÃ³n buscar */
  .boton-buscar {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .boton-buscar .icon {
    position: absolute;
    left: 20px;
    color: var(--background-color);
    pointer-events: none;
    font-size: 20px;
    transition: color 0.3s ease;
    width: fit-content;
  }

  .boton-buscar button {
    width: 150px;
    height: 70px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }

  .boton-buscar button:hover {
    background-color: var(--primary-color);
    color: #fff;
    transform: scale(1.05);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
  }

  .boton-buscar button:active {
    transform: scale(1);
  }

  .autocomplete-list::-webkit-scrollbar {
    width: 6px;
    /* Hacer la barra de desplazamiento mÃ¡s delgada */
  }

  .autocomplete-list::-webkit-scrollbar-thumb {
    background-color: #000;
    /* Amarillo */
    border-radius: 10px;
    /* Bordes redondeados */
  }

  .autocomplete-list::-webkit-scrollbar-track {
    background-color: #f4f4f4;
    /* Fondo claro */
  }

  /* Autocomplete */
  .autocomplete-container {
    position: relative;
    width: 100%;
  }

  .autocomplete-input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    transition: box-shadow 0.3s ease, border-color 0.3s ease;
  }

  /*
  .autocomplete-input:focus {
    border-color: var(--primary-color);
    box-shadow: 0 0 8px rgba(253, 190, 21, 0.5);
    outline: none;
  }
    */

  .autocomplete-list {
    position: absolute;
    top: 100%;
    /* left: -85px;
    right: 0; */
    background-color: #fff;
    border-radius: 8px;
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Sombra para la lista */
    animation: fadeIn 0.3s ease-in-out;
    width: 270px;
  }

  .autocomplete-item {
    padding: 12px;
    font-size: 14px;
    color: #333;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row-reverse;
    gap: 12px;
  }

  .autocomplete-item:hover {
    background-color: var(--primary-color);
    /* Amarillo */
    color: #fff;
    /* Texto blanco */
  }
  .autocomplete-item:hover i {
    color: #fff !important;
  }

  .autocomplete-item:active {
    background-color: var(--button-hover);
    /* Amarillo mÃ¡s oscuro */
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-5px);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  /* Mensajes de error */
  .error-message {
    color: red;
    font-size: 12px;
    margin-top: 4px;
    display: block;
  }

  /* Botones numericos */
  .numeric-input {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  .numeric-input button {
    width: 30px;
    height: 30px;
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .numeric-input button:hover {
    background-color: var(--button-hover);
  }

  .numeric-input input[type="number"] {
    width: 60px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    outline: none;
    transition: border-color 0.3s ease;
  }

  /* .numeric-input input[type="number"]:focus {
    border-color: var(--primary-color);
    box-shadow: 0 0 5px rgba(253, 190, 21, 0.3);
  } */

  .numeric-input input[type="number"] {
    margin-bottom: 0px !important;
    height: 10px;
  }

  #numeric-value {
    width: 100%;
    padding: 10px;
    height: 10px;
  }

  /* VUELOS */

  /* Contenedor de habitaciones (Popup) */
  #pasajeros-popup {
    display: none;
    /* Oculto por defecto */
    background-color: var(--background-color);
    position: absolute;
    /* Posicionarlo relativo al contenedor */
    top: 200px;
    /* Justo debajo del elemento invocador */
    left: 50%;
    width: 400px;
    /* Ocupa el ancho del contenedor */
    height: 400px;
    /* Altura del popup */
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    /* Asegura que estÃ© por encima de otros elementos */
  }

  #pasajeros-container {
    padding: 10px;
    overflow-y: auto;
    margin-bottom: 15px;
    scrollbar-width: thin;
    scrollbar-color: var(--primary-color) var(--background-color);
  }

  #hab-container {
    padding: 10px;
    height: 210px;
    overflow-y: auto;
    margin-bottom: 15px;
    scrollbar-width: thin;
    scrollbar-color: var(--primary-color) var(--background-color);
    padding-bottom: 0;
  }

  #hab-container input[type="number"]:focus {
    border-color: var(--primary-color);
    outline: none;
    box-shadow: 0 0 5px rgba(253, 190, 21, 0.3);
  }

  .numeric-input-group {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
  }

  .info-text {
    font-size: 12px;
    color: #666;
    position: absolute;
    left: 30px;
    margin-top: 20px;
    text-align: left; /* Centrar el texto */
  }

  #mostrar-descuento {
    text-decoration: none;
    color: var(--text-color);
    cursor: pointer;
    text-align: left;
    font-size: 14px;
    margin-top: -5px;
  }

  .codigo-descuento {
    margin-top: 10px;
    border-radius: 10px;
    border: 1px solid #ddd;
    top: 270px;
    padding: 10px;
    width: 220px;
  }

  #codigo-descuento {
    padding-right: 40px;
  }

  .origen-destino {
    width: 40%;
  }
  .fechas {
    width: 25%;
  }
  .habitaciones-pasajeros {
    width: 12%;
  }
  .boton-buscar {
    width: 12%;
    min-width: 140px;
  }

  .widget-ajustado .origen-destino,
  .widget-ajustado .origen,
  .widget-ajustado .destino,
  .widget-ajustado .input-group {
    width: 100%;
  }
  .widget-ajustado .fechas {
    width: 40%;
  }
  .widget-ajustado .habitaciones-pasajeros {
    margin: 0 10px;
    width: 20%;
  }
}

/* Modal Error Pasajeros */
.modal {
  position: absolute; /* Relativo al contenedor */
  top: 100%; /* Justo debajo del input */
  left: 0;
  transform: translateY(10px); /* Espaciado debajo del input */
  background-color: #ffcccc; /* Fondo rojo claro */
  border: 1px solid #ff0000; /* Borde rojo */
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra ligera */
  z-index: 1000;
  padding: 10px; /* Espaciado interno */
  text-align: left; /* Alinear el texto a la izquierda */
  width: 250px; /* Ancho mÃ¡s pequeÃ±o */
  font-size: 12px; /* Texto mÃ¡s pequeÃ±o */
}

.modal-content p {
  margin: 0;
  color: #ff0000; /* Texto rojo */
  font-weight: bold;
}

.modal-content button {
  padding: 5px;
  background-color: #ff6666; /* Fondo rojo mÃ¡s oscuro */
  color: white;
  border: none;
  border-radius: 3px;
  font-size: 12px;
  cursor: pointer;
}

.modal-content button:hover {
  background-color: #cc0000; /* Fondo rojo intenso */
}