@media (min-width: 1165px) {
  :root {
    --primary-color: #fdbe15;
    --secondary-color: #004481;
    --background-color: #f4f4f4;
    --text-color: #333;
    --button-hover: #e0a800;
    --font-primary: "Poppins", sans-serif;
  }

  #widget-net body {
    font-family: var(--font-primary);
  }

  #widget-net h1,
  #widget-net h2,
  #widget-net h3,
  #widget-net h4,
  #widget-net h5,
  #widget-net h6 {
    font-family: var(--font-primary);
    font-weight: 600;
  }

  #widget-net p,
  #widget-net label,
  #widget-net input,
  #widget-net button,
  #widget-net span {
    font-family: var(--font-primary);
  }

  #widget-net {
    font-family: var(--font-primary) !important;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1200px;
    border-radius: 10px;
    color: var(--text-color);
    margin: 0 auto;
    padding: 20px;
  }

  #widget-net .tab,
  #widget-net .flatpickr-calendar,
  #widget-net .widget,
  #widget-net .autocomplete-item {
    font-family: var(--font-primary) !important;
  }

  #widget-net .tabs {
    display: flex;
    align-items: center;
    justify-content: left;
    height: 100%;
    gap: 20px;
    padding-bottom: 0px;
    position: relative;
    border-radius: 10px;
  }

  #widget-net .tab {
    background-color: var(--primary-color);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.2s ease;
    cursor: pointer;
  }

  #widget-net .tab:hover {
    background-color: #fff;
    transform: scale(1.05);
    color: #000;
  }

  #widget-net .tab:active {
    transform: scale(1);
  }

  #widget-net .tab-text {
    font-size: 14px;
    text-align: center;
  }

  #widget-net .flatpickr-calendar {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
    font-size: 14px;
  }

  #widget-net .flatpickr-innerContainer {
    width: 100%;
  }

  #widget-net .flatpickr-day.selected {
    background-color: var(--primary-color) !important;
    color: #fff;
  }

  #widget-net .flatpickr-day:hover {
    background-color: var(--primary-color) !important;
    color: #fff;
  }

  #widget-net .flatpickr-day.selected,
  #widget-net .flatpickr-day.startRange,
  #widget-net .flatpickr-day.endRange,
  #widget-net .flatpickr-day.selected.inRange,
  #widget-net .flatpickr-day.startRange.inRange,
  #widget-net .flatpickr-day.endRange.inRange,
  #widget-net .flatpickr-day.selected:focus,
  #widget-net .flatpickr-day.startRange:focus,
  #widget-net .flatpickr-day.endRange:focus,
  #widget-net .flatpickr-day.selected:hover,
  #widget-net .flatpickr-day.startRange:hover,
  #widget-net .flatpickr-day.endRange:hover,
  #widget-net .flatpickr-day.selected.prevMonthDay,
  #widget-net .flatpickr-day.startRange.prevMonthDay,
  #widget-net .flatpickr-day.endRange.prevMonthDay,
  #widget-net .flatpickr-day.selected.nextMonthDay,
  #widget-net .flatpickr-day.startRange.nextMonthDay,
  #widget-net .flatpickr-day.endRange.nextMonthDay {
    border-color: var(--primary-color) !important;
    background-color: var(--primary-color) !important;
  }

  #widget-net
    .flatpickr-day.selected.startRange
    + .endRange:not(:nth-child(7n + 1)),
  #widget-net
    .flatpickr-day.startRange.startRange
    + .endRange:not(:nth-child(7n + 1)),
  #widget-net
    .flatpickr-day.endRange.startRange
    + .endRange:not(:nth-child(7n + 1)) {
    box-shadow: -10px 0 0 var(--primary-color) !important;
  }

  #widget-net #widget-package {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-family: "Arial", sans-serif;
    color: var(--text-color);
  }

  #widget-net .fas {
    color: var(--primary-color) !important;
  }

  #widget-net #lupa-icon {
    color: #fff !important;
  }

  #widget-net h4 {
    color: var(--text-color);
    font-weight: normal;
    font-size: 18px;
  }

  #widget-net input[type="number"]::-webkit-inner-spin-button,
  #widget-net input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  #widget-net input[type="number"] {
    -moz-appearance: textfield;
  }

  #widget-net .widget-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    row-gap: 15px;
  }

  #widget-net .widget {
    border-radius: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    font-family: "Arial", sans-serif;
    color: var(--text-color);
    position: relative;
  }

  #widget-net .package-container,
  #widget-net .vuelos-container,
  #widget-net .autos-container,
  #widget-net .hoteles-container,
  #widget-net .tours-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  #widget-net .origen-destino {
    order: 1;
  }
  #widget-net .fechas {
    order: 2;
  }
  #widget-net .habitaciones-pasajeros {
    order: 3;
  }
  #widget-net .boton-buscar {
    order: 4;
  }
  #widget-net #hab-popup {
    order: 5;
  }
  #widget-net .checkbox-group {
    order: 6;
  }
  #widget-net #mostrar-descuento {
    order: 7;
  }
  #widget-net .descuento {
    order: 8;
    flex: 1 1 100%;
  }
  #widget-net .options-paq {
    order: 8;
  }
  #widget-net .options-air {
    order: 8;
  }
  #widget-net .options-hotel {
    order: 8;
  }
  #widget-net .time-cars {
    order: 2;
  }

  #widget-net .options-air {
    width: 100% !important;
    gap: 10px;
    box-sizing: border-box;
    order: 8;
  }

  #widget-net .descuento-container {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  #widget-net .descuento {
    width: 100%;
  }

  #widget-net .descuento-toggle {
    display: flex;
    gap: 10px;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
  }

  #widget-net .codigo-descuento {
    width: 100%;
  }
  #widget-net #input-descuento {
    width: 100%;
  }

  #widget-net #mostrar-descuento {
    order: 7;
    align-self: flex-start;
    margin-top: 0.5rem;
  }

  #widget-net .widget .header h3 {
    font-size: 20px;
    font-weight: bold;
    color: var(--text-color);
    margin-bottom: 20px;
    text-align: center;
    background-color: var(--primary-color);
    padding: 15px;
    border-radius: 5px;
  }

  #widget-net .widget label {
    display: block;
    font-size: 15px;
    color: var(--text-color);
  }

  #widget-net .widget input[type="text"],
  #widget-net .widget input[type="number"],
  #widget-net .widget input[type="checkbox"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    transition: border-color 0.3s ease;
  }

  #widget-net .widget input[type="text"]:focus,
  #widget-net .widget input[type="number"]:focus {
    border: none;
    outline: none;
  }

  #widget-net .widget input[type="checkbox"] {
    display: flex;
    align-items: center;
    width: auto;
    margin-right: 10px;
    cursor: pointer;
    transition: transform 0.2s ease;
  }

  #widget-net .widget button {
    width: 100px;
    padding: 12px;
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }

  #widget-net .widget button:hover {
    background-color: var(--button-hover);
    transform: scale(1.05);
  }

  #widget-net .widget button:active {
    transform: scale(1);
  }

  #widget-net .label-input {
    position: absolute;
    top: 1px;
    left: 10px;
    font-size: 10px;
    color: var(--text-color);
    pointer-events: none;
    transition: all 0.3s ease;
  }

  #widget-net .label-input-tramo {
    position: absolute;
    top: 10px;
    left: 15px;
    font-size: 9px;
    color: var(--text-color);
    pointer-events: none;
    transition: all 0.3s ease;
  }

  #widget-net .origen-destino,
  #widget-net .habitaciones-pasajeros,
  #widget-net .lugar-retiro,
  #widget-net .time-cars,
  #widget-net .destino-extras {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    border: 1px solid #ddd;
    position: relative;
    padding: 10px;
  }

  #widget-net .origen-destino::after {
    content: "";
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 50%;
    width: 1px;
    background-color: #ddd;
    transform: translateX(-50%);
  }

  #widget-net .origen-destino.sin-raya::after {
    display: none !important;
    content: none !important;
  }

  #widget-net .destino-hotel {
    width: 100% !important;
  }

  #widget-net #hab-container {
    padding: 10px;
    height: 180px;
    overflow-y: auto;
    margin-bottom: 15px;
    scrollbar-width: thin;
    scrollbar-color: var(--primary-color) var(--background-color);
  }

  #widget-net .habitacion label {
    display: block;
    font-size: 15px;
    color: var(--text-color);
    margin-bottom: 10px;
  }

  #widget-net .habitacion input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 15px;
    transition: border-color 0.3s ease;
  }

  #widget-net .habitacion input[type="number"]:focus {
    border-color: var(--primary-color);
    outline: none;
    box-shadow: 0 0 5px rgba(253, 190, 21, 0.3);
  }

  #widget-net .habitacion-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
  }

  #widget-net .habitacion-header .icon {
    align-items: center;
    right: 10px;
    position: relative;
    color: var(--secondary-color);
    pointer-events: none;
  }

  #widget-net .adultos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-radius: 5px;
  }

  #widget-net .label-adultos {
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: 15px;
    color: var(--text-color);
    position: relative;
    padding: 10px;
  }

  #widget-net .label-adultos label {
    left: -5px;
  }

  #widget-net .input-adultos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    position: relative;
  }

  #widget-net .input-adultos #num-adultos {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 15px;
    transition: border-color 0.3s ease;
  }

  #widget-net .input-adultos .icon {
    position: absolute;
    right: 10px;
    color: var(--secondary-color);
    pointer-events: none;
    top: 15px;
  }

  #widget-net .ninos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-radius: 5px;
    position: relative;
  }

  #widget-net .label-ninos {
    display: flex;
    align-items: center;
    font-size: 15px;
    color: var(--text-color);
    position: relative;
    padding: 10px;
  }

  #widget-net .label-ninos label {
    left: -5px;
  }

  #widget-net .input-ninos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    position: relative;
  }

  #widget-net .input-ninos #num-ninos {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 15px;
    transition: border-color 0.3s ease;
  }

  #widget-net .input-ninos .icon {
    position: absolute;
    right: 10px;
    color: var(--secondary-color);
    pointer-events: none;
    top: 15px;
  }

  #widget-net .habitaciones-pasajeros {
    display: flex;
    align-items: center;
    position: relative;
    width: 140px;
  }

  #widget-net .habitaciones {
    display: none;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
  }

  #widget-net .habitaciones .input {
    display: flex;
    align-items: center;
    padding: 10px;
    transition: border-color 0.3s ease;
  }

  #widget-net .habitaciones .icon {
    display: flex;
    align-items: center;
    right: 10px;
    position: relative;
    color: var(--secondary-color);
    pointer-events: none;
  }

  #widget-net .pasajeros {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
  }

  #widget-net .pasajeros .input {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px;
    transition: border-color 0.3s ease;
  }

  #widget-net .pasajeros .icon {
    display: flex;
    align-items: center;
    right: 10px;
    position: relative;
    color: var(--secondary-color);
    pointer-events: none;
  }

  #widget-net #hab-container::-webkit-scrollbar {
    width: 8px;
  }

  #widget-net #hab-container::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 10px;
  }

  #widget-net #hab-container::-webkit-scrollbar-track {
    background-color: var(--background-color);
  }

  #widget-net #hab-container > div {
    background-color: #ffffff;
    padding: 10px;
    padding-right: 20px;
    margin-bottom: 28px;
  }

  #widget-net #hab-container > div:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  #widget-net #edades-ninos {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
  }

  #widget-net .edad-nino,
  #widget-net .num-ninos-select,
  #widget-net .num-adultos-select,
  #widget-net .popup-num-hab-select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    background-color: rgba(255, 255, 255, 0.8);
    color: var(--text-color);
    transition: all 0.3s ease;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }

  #widget-net .edad-nino:focus,
  #widget-net .num-ninos-select:focus,
  #widget-net .num-adultos-select:focus,
  #widget-net .popup-num-hab-select:focus {
    border-color: var(--primary-color);
    background-color: rgba(253, 190, 21, 0.2);
    outline: none;
    box-shadow: 0 0 5px rgba(253, 190, 21, 0.5);
  }

  #widget-net .edad-nino option,
  #widget-net .num-ninos-select option,
  #widget-net .num-adultos-select option,
  #widget-net .popup-num-hab-select option {
    background-color: #fff;
    color: var(--text-color);
  }

  #widget-net .input-ninos .icon,
  #widget-net .input-adultos .icon {
    position: absolute;
    right: 10px;
    font-size: 16px;
    color: var(--secondary-color);
    pointer-events: none;
  }

  #widget-net .popup-content {
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    position: relative;
    animation: fadeIn 0.3s ease-in-out;
  }

  #widget-net .close-popup {
    display: none;
  }

  #widget-net .popup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    padding-left: 10px;
  }

  #widget-net .popup-header label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20px;
    top: 0px;
  }

  #widget-net .popup-header input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    width: 100%;
    font-weight: bold;
    color: var(--text-color);
  }

  #widget-net #hab-popup {
    display: none;
    background-color: var(--background-color);
    position: absolute;
    top: 120px;
    left: 60%;
    width: 350px;
    height: 400px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
  }

  #widget-net #hab-popup.active {
    display: block;
  }

  #widget-net .button-accept {
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin-top: 20px;
    position: absolute;
    bottom: 20px;
  }

  #widget-net .input-error {
    background-color: #ffe6e6;
    border: 1px solid red;
  }

  #widget-net .input-group {
    position: relative;
    align-items: center;
    display: flex;
    height: 50px;
  }

  #widget-net .boton-buscar .input-group {
    width: 100%;
  }

  #widget-net .input-group input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    transition: border-color 0.3s ease;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  #widget-net .pasajeros .input-group input {
    border-left: none;
    border-radius: 0 5px 5px 0;
  }
  #widget-net .habitaciones .input-group input {
    border-right: none;
    border-radius: 5px 0 0 5px;
  }

  #widget-net #fecha-rango,
  #widget-net #origen,
  #widget-net #destino {
    padding-right: 40px;
  }

  #widget-net .input-group .icon {
    position: absolute;
    right: 15px;
    color: var(--secondary-color);
    pointer-events: none;
  }

  #widget-net .radio-group {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 10px;
    gap: 10px;
  }

  #widget-net .radio {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
  }

  #widget-net .radio label {
    display: flex;
    align-items: center;
    cursor: pointer;
    top: 1px;
    position: relative;
    text-align: left;
    left: 0px;
  }

  #widget-net #radio-soloida {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid var(--primary-color);
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
  }

  #widget-net #radio-idayregreso {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid var(--primary-color);
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    margin-left: 0px;
  }

  #widget-net #radio-multidestino {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid var(--primary-color);
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
  }

  #widget-net .fechas {
    border-radius: 10px;
    border: 1px solid #ddd;
    position: relative;
    padding: 10px;
  }

  #widget-net .fechas-tours {
    width: 40% !important;
  }

  #widget-net .checkbox-group {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 20px;
    top: 120px;
    gap: 10px;
  }

  #widget-net .checkbox {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
  }

  #widget-net .checkbox label {
    display: flex;
    align-items: center;
    cursor: pointer;
    top: -5px;
    position: relative;
    text-align: left;
    font-size: 14px;
    left: -10px;
    top: 5px;
  }

  #widget-net input[type="checkbox"] {
    position: relative !important;
    top: 5px;
    width: 20px;
    height: 20px;
    appearance: none;
    border: 1px solid #ddd;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto !important;
  }

  #widget-net input[type="checkbox"]:checked {
    background-color: var(--primary-color);
  }

  #widget-net input[type="checkbox"]::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 6px;
    width: 5px;
    height: 10px;
    border: 4px solid transparent;
    border-left: none;
    border-top: none;
    transform: rotate(45deg) scale(1);
  }

  #widget-net input[type="checkbox"]:checked:before {
    border-color: #fff;
    animation: checkmark 0.2s ease;
  }

  #widget-net .boton-buscar {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  #widget-net .boton-buscar .icon {
    position: absolute;
    margin-top: 20px;
    left: 20px;
    color: var(--background-color);
    pointer-events: none;
    font-size: 20px;
    transition: color 0.3s ease;
    width: fit-content;
  }

  #widget-net .boton-buscar button {
    width: 150px;
    height: 70px;
    border-radius: 10px;
    margin-top: 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }

  #widget-net .boton-buscar button:hover {
    background-color: var(--primary-color);
    color: #fff;
    transform: scale(1.05);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
  }

  #widget-net .boton-buscar button:active {
    transform: scale(1);
  }

  #widget-net .autocomplete-list::-webkit-scrollbar {
    width: 6px;
  }

  #widget-net .autocomplete-list::-webkit-scrollbar-thumb {
    background-color: #000;
    border-radius: 10px;
  }

  #widget-net .autocomplete-list::-webkit-scrollbar-track {
    background-color: #f4f4f4;
  }

  #widget-net .autocomplete-container {
    position: relative;
    width: 100%;
  }

  #widget-net .autocomplete-input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    transition: box-shadow 0.3s ease, border-color 0.3s ease;
  }

  #widget-net .autocomplete-list {
    position: absolute;
    top: 100%;
    background-color: #fff;
    border-radius: 8px;
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    animation: fadeIn 0.3s ease-in-out;
    width: 270px;
  }

  #widget-net .autocomplete-item {
    padding: 12px;
    font-size: 14px;
    color: #333;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row-reverse;
    gap: 12px;
  }

  #widget-net .autocomplete-item:hover {
    background-color: var(--primary-color);
    color: #fff;
  }
  #widget-net .autocomplete-item:hover i {
    color: #fff !important;
  }

  #widget-net .autocomplete-item:active {
    background-color: var(--button-hover);
  }

  #widget-net .error-message {
    color: red;
    font-size: 12px;
    margin-top: 4px;
    display: block;
  }

  #widget-net .numeric-input {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  #widget-net .numeric-input button {
    width: 30px;
    height: 30px;
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #widget-net .numeric-input button:hover {
    background-color: var(--button-hover);
  }

  #widget-net .numeric-input input[type="number"] {
    width: 60px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    outline: none;
    transition: border-color 0.3s ease;
  }

  #widget-net .numeric-input input[type="number"] {
    margin-bottom: 0px !important;
    height: 10px;
  }

  #widget-net #numeric-value {
    width: 100%;
    padding: 10px;
    height: 10px;
  }

  #widget-net #pasajeros-popup {
    display: none;
    background-color: var(--background-color);
    position: absolute;
    top: 120px;
    left: 50%;
    width: 400px;
    height: 350px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
  }

  #widget-net #pasajeros-container {
    padding: 10px;
    overflow-y: auto;
    margin-bottom: 15px;
    scrollbar-width: thin;
    scrollbar-color: var(--primary-color) var(--background-color);
  }

  #widget-net #hab-container {
    padding: 10px;
    height: 210px;
    overflow-y: auto;
    margin-bottom: 15px;
    scrollbar-width: thin;
    scrollbar-color: var(--primary-color) var(--background-color);
    padding-bottom: 0;
  }

  #widget-net #hab-container input[type="number"]:focus {
    border-color: var(--primary-color);
    outline: none;
    box-shadow: 0 0 5px rgba(253, 190, 21, 0.3);
  }

  #widget-net .numeric-input-group {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
  }

  #widget-net .info-text {
    font-size: 12px;
    color: #666;
    position: absolute;
    left: 30px;
    margin-top: 20px;
    text-align: left;
  }

  #widget-net #mostrar-descuento {
    text-decoration: none;
    color: var(--text-color);
    cursor: pointer;
    text-align: left;
    font-size: 14px;
    margin-top: -5px;
  }

  #widget-net .codigo-descuento {
    margin-top: 10px;
    border-radius: 10px;
    border: 1px solid #ddd;
    top: 270px;
    padding: 10px;
    width: 220px;
  }

  #widget-net #codigo-descuento {
    padding-right: 40px;
  }

  #widget-net .origen-destino,
  #widget-net .lugar-retiro,
  #widget-net .destino-extras {
    width: 40%;
  }
  #widget-net .fechas {
    width: 25%;
  }
  #widget-net .habitaciones-pasajeros {
    width: 12%;
  }
  #widget-net .boton-buscar {
    width: 12%;
    min-width: 140px;
  }

  #widget-net .retiro {
    width: 100%;
  }

  #widget-net .destino-tours {
    width: 100%;
  }

  #widget-net .options-cars,
  #widget-net .options-tours {
    display: flex;
    width: 100%;
    border-radius: 5px;
    position: relative;
    padding: 10px;
    order: 6;
  }

  #widget-net .widget-ajustado .origen-destino,
  #widget-net .widget-ajustado .origen,
  #widget-net .widget-ajustado .destino,
  #widget-net .widget-ajustado .input-group {
    width: 100%;
  }
  #widget-net .widget-ajustado .fechas {
    width: 40%;
  }
  #widget-net .widget-ajustado .habitaciones-pasajeros {
    margin: 0 10px;
    width: 20%;
  }

  #widget-net .autocomplete-item-hoteles {
    color: #333;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    align-items: center;
    flex-direction: row-reverse;
    gap: 12px;
  }

  #widget-net .autocomplete-item-hoteles:hover {
    background-color: var(--primary-color);
    color: #fff;
  }

  #widget-net .autocomplete-item-hoteles:hover .title-autocomplete-item,
  #widget-net .autocomplete-item-hoteles:hover .subtitle-autocomplete-item {
    color: #fff !important;
  }

  #widget-net .title-autocomplete-item {
    color: var(--text-color);
    font-size: 14px;
    padding: 10px 20px;
  }

  #widget-net .subtitle-autocomplete-item {
    font-size: 12px;
    color: #666;
    padding: 10px 20px;
    margin-top: -20px;
  }

  #widget-net #btn-agregar-tramo {
    display: flex !important;
    justify-content: center;
    display: inline-block;
    margin: 10px 0px;
    right: 20px;
    width: 150px;
  }

  #widget-net .input-tramo-origen,
  #widget-net .input-tramo-destino,
  #widget-net .input-tramo-fecha {
    width: 100%;
    padding: 10px;
    padding-right: 40px !important;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    background-color: rgba(255, 255, 255, 0.8);
    color: var(--text-color);
    transition: all 0.3s ease;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }

  #widget-net .btn-quitar-tramo {
    background-color: transparent !important;
    width: 30px !important;
  }

  #widget-net .tramo-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    gap: 10px;
    height: 100%;
  }

  #widget-net .input-tramo,
  #widget-net .input-tramo-fecha {
    border-radius: 10px;
    border: 1px solid #ddd;
    padding: 5px;
    width: 100%;
  }

  #widget-net #multidestino-placeholder {
    display: flex;
    flex-direction: column-reverse;
    background: #fff;
  }

  #widget-net .time-cars {
    width: 80px;
  }

  #widget-net .icon-time {
    position: absolute;
    right: 0px !important;
  }

  #widget-net .checkbox-tours {
    order: 5;
    margin-top: -10px;
    margin-bottom: -10px;
  }

  #widget-net .lugar-retiro {
    display: flex;
  }

  #widget-net .tabs .tab-icon {
    filter: brightness(0);
  }
}
