:root {
  --primary-color: #fdbe15; /* Color amarillo característico */
  --secondary-color: #004481; /* Azul oscuro para contrastes */
  --background-color: #f4f4f4; /* Fondo claro */
  --text-color: #333; /* Texto principal */
  --button-hover: #e0a800; /* Color de hover para botones */
}

#widget-aviajar {
  display: flex;
  width: 100%;
  border-radius: 10px;
  padding: 20px;
  font-family: "Arial", sans-serif;
  color: var(--text-color);
  animation: fadeIn 0.5s ease-in-out;
  margin: 20px auto;
}

/* Contenedor principal del widget */
.widget {
  display: flex;
  width: 100%;
  max-width: 400px;
  border-radius: 10px;
  border: 1px solid #ddd;
  padding: 20px;
  font-family: "Arial", sans-serif;
  color: var(--text-color);
  animation: fadeIn 0.5s ease-in-out;
  margin: 20px auto; /* Centra el widget horizontalmente */
}

/* Animación de entrada */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Encabezado */
.widget .header h3 {
  font-size: 20px;
  font-weight: bold;
  color: var(--text-color);
  margin-bottom: 20px;
  text-align: center;
  background-color: var(--primary-color);
  padding: 15px;
  border-radius: 5px;
}

/* Etiquetas */
.widget label {
  display: block;
  font-size: 15px;
  font-weight: bold;
  color: var(--text-color);
  top: 10px;
  left: 10px;
  position: relative;
}

/* Campos de entrada */
.widget input[type="text"],
.widget input[type="number"],
.widget input[type="checkbox"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 15px;
  transition: border-color 0.3s ease;
}

.widget input[type="text"]:focus,
.widget input[type="number"]:focus {
  border-color: var(--primary-color);
  outline: none;
  box-shadow: 0 0 5px rgba(253, 190, 21, 0.3);
}

/* Checkboxes */
.widget input[type="checkbox"] {
  display: flex;
  align-items: center;
  width: auto;
  margin-right: 10px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

/* Botón de búsqueda */
.widget button {
  width: 100%;
  padding: 12px;
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.widget button:hover {
  background-color: var(--button-hover);
  transform: scale(1.05);
}

.widget button:active {
  transform: scale(1);
}

/* Contenedor de habitaciones (Popup) */
#hab-container {
  background-color: var(--background-color);
  border-radius: 10px;
  border: 1px solid #ddd;
  padding: 15px;
  height: 500px;
  max-height: 500px;
  overflow-y: auto;
  margin-bottom: 15px;
  scrollbar-width: thin;
  scrollbar-color: var(--primary-color) var(--background-color);
}

#hab-container input[type="number"]:focus {
  border-color: var(--primary-color);
  outline: none;
  box-shadow: 0 0 5px rgba(253, 190, 21, 0.3);
}

.habitacion label {
  display: block;
  font-size: 15px;
  font-weight: bold;
  color: var(--text-color);
  margin-bottom: 10px;
}

.habitacion input[type="number"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 15px;
  transition: border-color 0.3s ease;
}

.habitacion input[type="number"]:focus {
  border-color: var(--primary-color);
  outline: none;
  box-shadow: 0 0 5px rgba(253, 190, 21, 0.3);
}

.habitacion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.habitacion-header .icon {
  align-items: center;
  right: 10px;
  position: relative;
  color: var(--secondary-color);
  pointer-events: none;
}

/* Adultos */
.adultos {
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-radius: 5px;
  position: relative;
}

.label-adultos {
  display: flex;
  align-items: center;
  justify-content: left;
  font-size: 15px;
  font-weight: bold;
  color: var(--text-color);
  position: relative;
  padding: 10px;
}

.label-adultos label {
  left: -5px;
}

.input-adultos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-radius: 5px;
  position: relative;
}

.input-adultos #num-adultos {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 15px;
  transition: border-color 0.3s ease;
}

.input-adultos .icon {
  position: absolute;
  right: 10px; /* Alinea el ícono a la derecha */
  color: var(--secondary-color); /* Usa el color azul oscuro */
  pointer-events: none; /* Evita que el ícono interfiera con el clic en el input */
  top: 15px;
}
/* Niños */

.ninos {
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-radius: 5px;
  position: relative;
}

.label-ninos {
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: bold;
  color: var(--text-color);
  position: relative;
  padding: 10px;
}

.label-ninos label {
  left: -5px;
}

.input-ninos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-radius: 5px;
  position: relative;
}

.input-ninos #num-ninos {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 15px;
  transition: border-color 0.3s ease;
}

.input-ninos .icon {
  position: absolute;
  right: 10px; /* Alinea el ícono a la derecha */
  color: var(--secondary-color); /* Usa el color azul oscuro */
  pointer-events: none; /* Evita que el ícono interfiera con el clic en el input */
  top: 15px;
}

/* Habitaciones Widget */
.habitaciones-pasajeros {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-radius: 5px;
  position: relative;
  gap: 10px;
  padding: 10px;
  margin-bottom: 10px;
}

.habitaciones {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
}

.habitaciones .input {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 10px;
  transition: border-color 0.3s ease;
}

.habitaciones .icon {
  display: flex;
  align-items: center;
  right: 10px;
  position: relative;
  color: var(--secondary-color);
  pointer-events: none;
  top: 25px;
}

/* Pasajeros */
.pasajeros {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
}

.pasajeros .input {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 10px;
  transition: border-color 0.3s ease;
}

.pasajeros .icon {
  display: flex;
  align-items: center;
  right: 10px;
  position: relative;
  color: var(--secondary-color);
  pointer-events: none;
  top: 25px;
}

/* Scroll personalizado para navegadores Webkit */
#hab-container::-webkit-scrollbar {
  width: 8px;
}

#hab-container::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 10px;
}

#hab-container::-webkit-scrollbar-track {
  background-color: var(--background-color);
}

/* Habitaciones individuales */
#hab-container > div {
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#hab-container > div:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Edades niños */

#edades-ninos {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
}

.edad-nino {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: calc(50% - 10px); /* Dos columnas con espacio entre ellas */
}

.edad-nino label {
  font-size: 14px;
  font-weight: bold;
  color: var(--text-color);
  margin-bottom: 5px;
}

.edad-nino select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
  transition: border-color 0.3s ease;
}

.edad-nino select:focus {
  border-color: var(--primary-color);
  outline: none;
  box-shadow: 0 0 5px rgba(253, 190, 21, 0.3);
}

/* Responsividad */
@media (max-width: 768px) {
  .widget {
    padding: 15px;
  }

  .widget .header h3 {
    font-size: 18px;
  }

  .widget input[type="text"],
  .widget input[type="number"] {
    font-size: 13px;
    padding: 8px;
  }

  .widget button {
    font-size: 14px;
    padding: 10px;
  }
}

@media (max-width: 480px) {
  .widget {
    padding: 10px;
  }

  .widget .header h3 {
    font-size: 16px;
  }

  .widget input[type="text"],
  .widget input[type="number"] {
    font-size: 12px;
    padding: 6px;
  }

  .widget button {
    font-size: 13px;
    padding: 8px;
  }
}

/* Estilo del fondo del popup */
.popup {
  display: none; /* Oculto por defecto */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
  z-index: 1000; /* Asegura que esté por encima de otros elementos */
  justify-content: center;
  align-items: center;
}

/* Contenido del popup */
.popup-content {
  background-color: var(--background-color);
  border-radius: 10px;
  padding: 20px;
  width: 100%; /* Ocupa el 100% del ancho disponible */
  max-width: 400px; /* Igual al max-width de .widget */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
  animation: fadeIn 0.3s ease-in-out;
}

/* Popup header */
.popup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.popup-header label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 20px;
  top: -5px;
}

.popup-header input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  width: 100%;
  font-weight: bold;
  color: var(--text-color);
}

/* Botón de cierre */
.close-popup {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 20px;
  font-weight: bold;
  color: var(--text-color);
  cursor: pointer;
  transition: color 0.3s ease;
}

.close-popup:hover {
  color: var(--primary-color);
}

/* Animación de entrada */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* Inputs */
/* Contenedor de cada grupo de inputs */
.input-group {
  position: relative;
  align-items: center;
  display: flex;
}

/* Estilo del input */
.input-group input {
  width: 100%;
  height: 50px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
  transition: border-color 0.3s ease;
}

/* Estilo del ícono */
.input-group .icon {
  position: absolute;
  right: 30px; /* Alinea el ícono a la derecha */
  color: var(--secondary-color); /* Usa el color azul oscuro */
  pointer-events: none; /* Evita que el ícono interfiera con el clic en el input */
}

/* Inputs en foco */
.input-group input:focus {
  border-color: var(--primary-color);
  box-shadow: 0 0 5px rgba(253, 190, 21, 0.3);
}

/* Checkboxs */
.checkbox-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding: 10px;
}

.checkbox {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.checkbox label {
  display: flex;
  align-items: center;
  cursor: pointer;
  top: -5px;
  position: relative;
  text-align: left;
  font-size: 14px;
}

input[type="checkbox"] {
  position: relative;
  top: 5px;
  width: 20px;
  height: 20px;
  background-color: var(--background-color);
  appearance: none;
  border: 1px solid #ddd;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

input[type="checkbox"]:checked {
  background-color: var(--primary-color);
}

input[type="checkbox"]::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 6px;
  width: 5px;
  height: 10px;
  border: 4px solid transparent;
  border-left: none;
  border-top: none;
  transform: rotate(45deg) scale(1);
}

input[type="checkbox"]:checked:before {
  border-color: #fff;
  animation: checkmark 0.2s ease;
}

@keyframes checkmark {
  0% {
    transform: rotate(45deg) scale(0);
  }
  100% {
    transform: rotate(45deg) scale(1);
  }
}

/* Botón buscar */
.boton-buscar .icon {
  position: absolute;
  left: 20px;
  color: var(--background-color);
  pointer-events: none;
}

.boton-buscar button {
  width: 100%;
  padding: 12px;
  height: 50px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}
