/* MOBILE */
@media (max-width: 1164px) {
  #widget-net {
    --primary-color: #fdbe15;
    --secondary-color: #004481;
    --background-color: #f4f4f4;
    --text-color: #333;
    --button-hover: #e0a800;
    --font-primary: "Poppins", sans-serif;
  }

  #widget-net {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1200px;
    border-radius: 10px;
    font-family: var(--font-primary) !important;
    color: var(--text-color);
    animation: fadeIn 0.5s ease-in-out;
    margin: 0 auto;
    padding: 20px;
  }

  #widget-net .tab,
  #widget-net .flatpickr-calendar,
  #widget-net .widget,
  #widget-net .autocomplete-item {
    font-family: var(--font-primary) !important;
  }

  #widget-net .tabs {
    display: flex;
    align-items: center;
    justify-content: left;
    height: 100px;
    padding-bottom: 5px;
    position: relative;
    max-width: 100%;
    box-sizing: border-box;
    overflow-x: auto;
    word-wrap: break-word;
    scrollbar-width: none;
    gap: 20px;
  }

  #widget-net .tab {
    display: flex;
    background-color: var(--primary-color);
    border-radius: 10px;
    padding: 20px;
    gap: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.2s ease;
    cursor: pointer;
    height: 60px;
    justify-content: center;
    align-items: center;
  }

  #widget-net .tab::-webkit-scrollbar {
    display: none;
  }

  #widget-net .tab:hover {
    background-color: #000;
    transform: scale(1.05);
    color: #fff;
  }
  #widget-net .tab:active {
    transform: scale(1);
  }

  #widget-net .tab-text {
    font-size: 14px;
    text-align: center;
  }

  #widget-net .widget input[type="text"] {
    padding-right: 50px !important;
    height: 70px !important;
  }

  #widget-net #num-per,
  #widget-net #num-pasajeros {
    height: 70px !important;
  }

  #widget-net .flatpickr-calendar {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
    font-size: 14px;
  }

  #widget-net .flatpickr-innerContainer {
    width: 100%;
  }

  #widget-net .flatpickr-day.selected,
  #widget-net .flatpickr-day.startRange,
  #widget-net .flatpickr-day.endRange,
  #widget-net .flatpickr-day.selected.inRange,
  #widget-net .flatpickr-day.startRange.inRange,
  #widget-net .flatpickr-day.endRange.inRange,
  #widget-net .flatpickr-day.selected:focus,
  #widget-net .flatpickr-day.startRange:focus,
  #widget-net .flatpickr-day.endRange:focus,
  #widget-net .flatpickr-day.selected:hover,
  #widget-net .flatpickr-day.startRange:hover,
  #widget-net .flatpickr-day.endRange:hover,
  #widget-net .flatpickr-day.selected.prevMonthDay,
  #widget-net .flatpickr-day.startRange.prevMonthDay,
  #widget-net .flatpickr-day.endRange.prevMonthDay,
  #widget-net .flatpickr-day.selected.nextMonthDay,
  #widget-net .flatpickr-day.startRange.nextMonthDay,
  #widget-net .flatpickr-day.endRange.nextMonthDay {
    border-color: var(--primary-color) !important;
    background-color: var(--primary-color) !important;
  }

  #widget-net .fas {
    color: var(--primary-color);
  }

  #widget-net #lupa-icon {
    color: #fff;
  }

  #widget-net h4 {
    color: var(--text-color);
    font-weight: normal;
    font-size: 18px;
  }

  #widget-net input[type="number"]::-webkit-inner-spin-button,
  #widget-net input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  #widget-net input[type="number"] {
    -moz-appearance: textfield;
  }

  #widget-net .widget {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border: 1px solid #ddd;
    font-family: "Arial", sans-serif;
    color: var(--text-color);
    animation: fadeIn 0.5s ease-in-out;
    margin-top: 10px;
    background-color: #fff;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  #widget-net .widget .header h3 {
    font-size: 20px;
    font-weight: bold;
    color: var(--text-color);
    margin-bottom: 20px;
    text-align: center;
    background-color: var(--primary-color);
    padding: 15px;
    border-radius: 5px;
  }

  #widget-net .widget label {
    display: block;
    font-size: 14px;
    color: var(--text-color);
    position: relative;
  }

  #widget-net .widget input[type="text"],
  #widget-net .widget input[type="number"],
  #widget-net .widget input[type="checkbox"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 10px;
    transition: border-color 0.3s ease;
  }
  #widget-net .widget input[type="text"] {
    padding-right: 26px;
  }

  #widget-net .widget input[type="checkbox"] {
    border-radius: 5px !important;
  }

  #widget-net .widget input[type="text"]:focus,
  #widget-net .widget input[type="number"]:focus {
    border-color: var(--primary-color);
    outline: none;
    box-shadow: 0 0 5px rgba(253, 190, 21, 0.3);
  }

  #widget-net .label-input {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 10px;
    color: var(--text-color);
    pointer-events: none;
    transition: all 0.3s ease;
  }

  #widget-net .widget input[type="checkbox"] {
    display: flex;
    align-items: center;
    width: auto;
    margin-right: 10px;
    cursor: pointer;
    transition: transform 0.2s ease;
  }

  #widget-net .widget button {
    width: 100%;
    padding: 12px;
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }

  #widget-net .widget button:hover {
    background-color: var(--button-hover);
    transform: scale(1.05);
  }

  #widget-net .widget button:active {
    transform: scale(1);
  }

  #widget-net .widget-package {
    width: 100% !important;
  }

  #widget-net .widget-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
  }

  #widget-net .boton-buscar {
    order: 12;
  }

  #widget-net .descuento-container {
    margin-bottom: 20px;
  }

  #widget-net #hab-container {
    padding: 15px;
    height: 200px;
    max-height: 200px;
    overflow-y: auto;
    margin-bottom: 15px;
    scrollbar-width: thin;
    scrollbar-color: var(--primary-color) var(--background-color);
    padding-top: 0;
  }

  #widget-net #hab-container input[type="number"]:focus {
    border-color: var(--primary-color);
    outline: none;
    box-shadow: 0 0 5px rgba(253, 190, 21, 0.3);
  }

  #widget-net .habitacion label {
    display: block;
    color: var(--text-color);
    margin-bottom: 10px;
  }

  #widget-net .habitacion input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 15px;
    transition: border-color 0.3s ease;
  }

  #widget-net .habitacion input[type="number"]:focus {
    border-color: var(--primary-color);
    outline: none;
    box-shadow: 0 0 5px rgba(253, 190, 21, 0.3);
  }

  #widget-net .habitacion-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 31px;
  }

  #widget-net .habitacion-header .icon {
    align-items: center;
    right: 10px;
    position: relative;
    color: var(--secondary-color);
    pointer-events: none;
  }

  #widget-net .adultos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-radius: 5px;
  }

  #widget-net .label-adultos {
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: 15px;
    color: var(--text-color);
    position: relative;
    padding: 10px;
  }

  #widget-net .label-adultos label {
    left: -5px;
  }

  #widget-net .input-adultos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    position: relative;
  }

  #widget-net .input-adultos #num-adultos {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 15px;
    transition: border-color 0.3s ease;
  }

  #widget-net .input-adultos .icon {
    position: absolute;
    right: 10px;
    color: var(--secondary-color);
    pointer-events: none;
    top: 15px;
  }

  #widget-net .ninos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-radius: 5px;
    position: relative;
  }

  #widget-net .label-ninos {
    display: flex;
    align-items: center;
    font-size: 15px;
    color: var(--text-color);
    position: relative;
    padding: 10px;
  }

  #widget-net .label-ninos label {
    left: -5px;
  }

  #widget-net .input-ninos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    position: relative;
  }

  #widget-net .input-ninos #num-ninos {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 15px;
    transition: border-color 0.3s ease;
  }

  #widget-net .input-ninos .icon {
    position: absolute;
    right: 10px;
    color: var(--secondary-color);
    pointer-events: none;
    top: 15px;
  }

  #widget-net .habitaciones-pasajeros {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-radius: 5px;
    position: relative;
    gap: 10px;
  }

  #widget-net .habitaciones {
    display: none;
    width: 100%;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
  }

  #widget-net .habitaciones .input {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px;
    transition: border-color 0.3s ease;
  }

  #widget-net .habitaciones .icon {
    display: flex;
    align-items: center;
    right: 10px;
    position: relative;
    color: var(--secondary-color);
    pointer-events: none;
    top: 25px;
  }

  #widget-net .pasajeros {
    width: 100%;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
  }

  #widget-net .pasajeros .input {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px;
    transition: border-color 0.3s ease;
  }

  #widget-net .pasajeros .icon {
    display: flex;
    align-items: center;
    right: 10px;
    position: relative;
    color: var(--secondary-color);
    pointer-events: none;
    top: 25px;
  }

  #widget-net #hab-container::-webkit-scrollbar {
    width: 8px;
  }

  #widget-net #hab-container::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 10px;
  }

  #widget-net #hab-container::-webkit-scrollbar-track {
    background-color: var(--background-color);
  }

  #widget-net #hab-container > div {
    background-color: #ffffff;
    padding: 10px;
    padding-right: 20px;
    margin-bottom: 20px;
    border: 1px solid #ededed;
    border-radius: 16px;
  }

  #widget-net #edades-ninos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
  }

  #widget-net .edad-nino,
  #widget-net .num-ninos-select,
  #widget-net .num-adultos-select,
  #widget-net .popup-num-hab-select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    background-color: rgba(255, 255, 255, 0.8);
    color: var(--text-color);
    transition: all 0.3s ease;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }

  #widget-net .edad-nino:focus,
  #widget-net .num-ninos-select:focus,
  #widget-net .num-adultos-select:focus,
  #widget-net .popup-num-hab-select:focus {
    border-color: var(--primary-color);
    background-color: rgba(253, 190, 21, 0.2);
    outline: none;
    box-shadow: 0 0 5px rgba(253, 190, 21, 0.5);
  }

  #widget-net .edad-nino option,
  #widget-net .num-ninos-select option,
  #widget-net .num-adultos-select option,
  #widget-net .popup-num-hab-select option {
    background-color: #fff;
    color: var(--text-color);
  }

  #widget-net .input-ninos .icon,
  #widget-net .input-adultos .icon {
    position: absolute;
    right: 10px;
    font-size: 16px;
    color: var(--secondary-color);
    pointer-events: none;
  }

  #widget-net .popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    justify-content: center;
    align-items: center;
  }

  #widget-net .popup-content {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    max-width: 400px;
    max-height: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    animation: fadeIn 0.3s ease-in-out;
  }

  #widget-net .popup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }

  #widget-net .popup-header label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20px;
    top: -2px;
    font-size: 15px !important;
  }

  #widget-net .popup-header input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    width: 100%;
    font-weight: bold;
    color: var(--text-color);
  }

  #widget-net .close-popup {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 20px;
    font-weight: bold;
    color: var(--text-color);
    cursor: pointer;
    transition: color 0.3s ease;
  }

  #widget-net .close-popup:hover {
    color: var(--primary-color);
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: scale(0.9);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }

  #widget-net .input-error {
    background-color: #ffe6e6;
    border: 1px solid red;
  }

  #widget-net .input-group {
    position: relative;
    align-items: center;
    display: flex;
  }

  #widget-net .input-group input {
    width: 100%;
    height: 50px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    transition: border-color 0.3s ease;
  }

  #widget-net .input-group .icon {
    position: absolute;
    right: 9px;
    color: var(--secondary-color);
    pointer-events: none;
    top: 29%;
  }

  #widget-net .input-group input:focus {
    border-color: var(--primary-color);
    box-shadow: 0 0 5px rgba(253, 190, 21, 0.3);
  }

  #widget-net .radio-group {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 20px;
    margin-left: 20px !important;
  }

  #widget-net label {
    font-weight: 400 !important;
    margin-bottom: 0 !important;
  }

  #widget-net .radio {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    padding: 10px !important;
    margin-top: 0px !important;
  }

  #widget-net .radio label {
    display: flex;
    align-items: center;
    cursor: pointer;
    top: 1px;
    position: relative;
    text-align: left;
    left: 0px;
    padding-left: 0px !important;
  }

  #widget-net #radio-soloida,
  #widget-net #radio-idayregreso,
  #widget-net #radio-multidestino {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid var(--primary-color);
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    position: relative;
  }

  #widget-net #radio-soloida:checked,
  #widget-net #radio-idayregreso:checked,
  #widget-net #radio-multidestino:checked {
    background-color: var(--primary-color);
    box-shadow: 0 0 5px rgba(253, 190, 21, 0.5);
  }

  #widget-net #radio-soloida:hover,
  #widget-net #radio-idayregreso:hover,
  #widget-net #radio-multidestino:hover {
    box-shadow: 0 0 8px rgba(253, 190, 21, 0.7);
  }

  #widget-net #radio-soloida:checked::after,
  #widget-net #radio-idayregreso:checked::after,
  #widget-net #radio-multidestino:checked::after {
    display: block;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    top: 4px;
    left: 4px;
  }

  #widget-net .checkbox-group {
    align-items: center;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
  }

  #widget-net .checkbox {
    display: grid;
    align-items: center;
    gap: 20px;
    cursor: pointer;
    grid-template-columns: 2% 86%;
    width: 100%;
    margin: 0;
  }

  #widget-net .checkbox label {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    text-align: left;
    padding-left: 0px !important;
  }

  #widget-net input[type="checkbox"] {
    position: relative !important;
    width: 20px;
    height: 20px;
    appearance: none;
    border: 1px solid #ddd;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto !important;
  }

  #widget-net input[type="checkbox"]:checked {
    background-color: var(--primary-color);
  }

  #widget-net input[type="checkbox"]::before {
    content: "✔" !important;
    color: white !important;
    height: 10px;
    border: 4px solid transparent;
    border-left: none;
    border-top: none;
    position: absolute;
    left: 1px;
  }

  #widget-net input[type="checkbox"]:checked:before {
    animation: checkmark 0.2s ease;
  }

  #widget-net input[type="radio"]:checked:before {
    content: none !important;
  }

  #widget-net .boton-buscar .icon {
    position: absolute;
    left: 20px;
    color: var(--background-color);
    pointer-events: none;
  }

  #widget-net .boton-buscar button {
    width: 100%;
    padding: 12px;
    height: 50px;
    border-radius: 15px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }

  #widget-net .boton-buscar button:hover {
    background-color: var(--primary-color);
    color: #fff;
    transform: scale(1.05);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  }

  #widget-net .autocomplete-container {
    position: relative;
    width: 100%;
  }

  #widget-net .autocomplete-input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    transition: box-shadow 0.3s ease, border-color 0.3s ease;
  }

  #widget-net .autocomplete-input:focus {
    border-color: #fdbe15;
    box-shadow: 0 0 8px rgba(253, 190, 21, 0.5);
    outline: none;
  }

  #widget-net .autocomplete-list {
    position: absolute;
    top: 90%;
    left: 0;
    right: 0;
    background-color: #fff;
    border-radius: 8px;
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    animation: fadeIn 0.3s ease-in-out;
  }

  #widget-net .autocomplete-item {
    padding: 12px;
    font-size: 14px;
    color: #333;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: flex-end;
    gap: 12px;
  }

  #widget-net .autocomplete-item:hover {
    background-color: #fdbe15;
    color: #fff;
  }

  #widget-net .autocomplete-item:active {
    background-color: #e0a800;
  }

  #widget-net .error-message {
    color: red;
    font-size: 12px;
    margin-top: 4px;
    display: block;
  }

  #widget-net .numeric-input {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  #widget-net .numeric-input button {
    width: 30px;
    height: 30px;
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #widget-net .numeric-input button:hover {
    background-color: var(--button-hover);
  }

  #widget-net .numeric-input input[type="number"] {
    width: 60px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    outline: none;
    transition: border-color 0.3s ease;
    margin-bottom: 0px !important;
  }

  #widget-net #numeric-value {
    width: 100%;
    padding: 10px;
  }

  #widget-net #pasajeros-container {
    padding: 15px;
    overflow-y: auto;
    margin-bottom: 15px;
    scrollbar-width: thin;
    scrollbar-color: var(--primary-color) var(--background-color);
  }

  #widget-net .numeric-input-group {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
  }

  #widget-net #title-pasajeros {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    text-align: center;
    letter-spacing: 1px;
  }

  #widget-net .close-popup {
    display: none !important;
  }

  #widget-net .info-text {
    font-size: 12px;
    color: #666;
    position: absolute;
    left: 35px;
    margin-top: 20px;
    text-align: left;
  }

  #widget-net #mostrar-descuento {
    text-decoration: none;
    color: var(--text-color);
    cursor: pointer;
    text-align: left;
    font-size: 14px;
  }

  #widget-net .codigo-descuento {
    padding-top: 10px;
  }

  #widget-net .autocomplete-item-hoteles {
    color: #333;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    align-items: center;
    flex-direction: row-reverse;
    gap: 12px;
  }

  #widget-net .autocomplete-item-hoteles:hover {
    background-color: var(--primary-color);
    color: #fff;
  }

  #widget-net .autocomplete-item-hoteles:hover .title-autocomplete-item,
  #widget-net .autocomplete-item-hoteles:hover .subtitle-autocomplete-item {
    color: #fff !important;
  }

  #widget-net .title-autocomplete-item {
    color: var(--text-color);
    font-size: 14px;
    padding: 10px 20px;
  }

  #widget-net .subtitle-autocomplete-item {
    font-size: 12px;
    color: #666;
    padding: 10px 20px;
    margin-top: -20px;
  }

  #widget-net #btn-agregar-tramo {
    display: inline-block;
    margin: 10px 0px;
    right: 20px;
    width: 150px;
  }

  #widget-net .input-tramo-origen,
  #widget-net .input-tramo-destino,
  #widget-net .input-tramo-fecha {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    background-color: rgba(255, 255, 255, 0.8);
    color: var(--text-color);
    transition: all 0.3s ease;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }

  #widget-net .btn-quitar-tramo {
    background-color: transparent !important;
    width: 30px !important;
    padding: 0 !important;
    margin-bottom: 15px !important;
  }

  #widget-net .label-input-tramo {
    position: absolute;
    top: 10px;
    left: 15px;
    font-size: 9px;
    color: var(--text-color);
    pointer-events: none;
    transition: all 0.3s ease;
  }

  #widget-net #multidestino-placeholder {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    background: #fff;
    box-sizing: border-box;
  }
}

@media (max-width: 570px) {
  #widget-net .tramo > div {
    flex-direction: column !important;
    gap: 8px !important;
    align-items: stretch !important;
  }
  #widget-net .tramo > div input {
    width: 50% !important;
    min-width: 0 !important;
  }

  #widget-net .tramo > div .input-tramo-fecha,
  #widget-net .tramo > div .input-tramo-origen,
  #widget-net .tramo > div .input-tramo-destino {
    width: 100% !important;
  }
}

@media (max-width: 600px) {
  #widget-net .tab-text {
    display: none !important;
  }
}

@media (max-width: 375px) {
  #widget-net .tabs {
    gap: 5px !important;
  }
}
